@import './colors';

.wrapper {
  padding: 15px;
  background-color: $light-grey;
  border-bottom: 1px solid $mid-grey;
  display: flex;
  justify-content: space-between;

  .dateWrapper {
    margin-left: 15px;
    position: relative;

    .calendar {
      position: absolute;
      background-color: white;
      border: 1px solid $mid-grey;

      .calHeading {
        padding: 10px 20px;
        text-transform: capitalize;
        display: flex;
        justify-content: space-between;
        align-items: center;
      }
    }

    .dateInput {
      border: solid 1px $mid-grey;
      width: 110px;
      height: 28px;
      border-radius: 5px;
      margin-left: 10px;

      &:focus {
        outline: none;
      }
    }
  }

  .leftSide {
    display: flex;

    .inputWrapper {
      display: flex;
      width: 400px;
      height: 30px;
      background-color: $white;
      border: solid 1px $mid-grey;
      border-radius: 5px;

      .icon {
        width: 28px;
        height: 28px;
        display: flex;
        align-items: center;
        justify-content: center;
      }

      .input {
        box-sizing: border-box;
        height: 100%;
        flex: 1;
        border: none;

        &:focus {
          outline: none;
        }
      }
    }
  }

  .button {
    height: 30px;
    padding: 0 20px;
    border-radius: 5px;
  }
}
