@import 'colors';

.row {
  &:hover {
    cursor: pointer;
    background-color: $light-grey;
  }
}

.contentWrapper {
  .content {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}
