@import './styles/colors';

@font-face {
  font-family: Graphik;
  src: url('./assets/fonts/Graphik-Regular-Trial.otf');
}

body {
  color: $black;
  margin: 0;
  font-family: Graphik, 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

button {
  margin: 0 10px;
  border: 1px solid $mid-grey;
  background-color: $white;
  color: $black;
  padding: 15px 20px;

  &:hover {
    background-color: $light-grey;
    cursor: pointer;
  }
}
